body {

    }

.page,
.page-wrapper {
    max-width:1400px;
    min-width:990px;
    margin:0 auto;
    padding: 0 12px;
    }
header {
    position:relative;
    overflow:hidden;
    padding:8px 0 10px;
    color: #FFF;
    border-bottom:solid 1px #dee2ff;
    background:url(../i/bg.jpg) top center no-repeat;
    }
    header h5 {
        font-size:11px;
        font-weight:normal;
        margin:0;
        color:#FFF;
        }
    .sitetitle {
        float:left;
        width:254px;
        margin-top:5px;
        }
    .logo {
        float:left;
        margin-right:8px;
        }
    .sitename {
        font-family:Georgia, "Times new roman", Times, serif;
        font-weight:normal;
        font-size:13px;
        line-height:1.1;
        float:left;
        width:16ex;
        margin:0;
        color:#FFF;
        }
.header-contacts {
    position:absolute;
    left:12px;
    top:64px;
    width:180px;
    }
    .header-contacts .phone {
        font-family:Georgia, "Times new roman", Times, serif;
        font-weight:normal;
        font-size:24px;
        margin:0;
        }
    .header-contacts .phone a {
        text-decoration:none;
        color:#FFF;
        }
    .header-contacts .phone .code {
        font-size:12px;
        position:relative;
        left:-3px;
        bottom: 5px;
        }
    .header-contacts .address {
        font-size:11px;
        font-weight:normal;
        margin:8px 0 0 20px;
        }
.globalnav {

    }
.main {
    float:left;
    width:100%;
    margin-right:-200px;
    }
.wrapper {
    margin-right:220px;
    }

.promo {
    height:300px;
    background:url(../i/promo.jpg) top center no-repeat;
    }
.courses {
    }
.courses-departments {
    overflow:hidden;
    }
    .courses-departments .department {
        float:left;
        width:30%;
        margin-right:20px;
        }
    .department:nth-child(3n+1) {
        clear:left;
        }
.adv {
    float:right;
    width:200px;
    }
.popular-courses {
    overflow:hidden;
    }
    .popular-courses .course {
        float:left;
        width:20%;
        margin-right:20px;
        }
    
footer {
    margin-top:20px;
    padding-top:10px;
    clear:both;
    overflow:hidden;
    background:url(../i/bg.jpg) top center no-repeat;
    border-top: solid 1px;
    }
    footer .copyright {
        float:left;
        }
    footer .contacts {
        float:right;
        }