body {

    }
.page,
.page-wrapper {
    max-width:1350px;
    min-width:960px;
    margin:0 auto;
    padding: 0 24px;
    }
header {
    position:relative;
    overflow:hidden;
    padding:8px 0 10px;
    color: #FFF;
    border-bottom:solid 1px #dee2ff;
    background:url(../i/bg.jpg) top center no-repeat;
    }
    header h5 {
        font-size:11px;
        font-weight:normal;
        margin:0;
        color:#FFF;
        }
    .sitetitle {
        float:left;
        width:254px;
        margin-top:5px;
        }
    .logo {
        float:left;
        margin-right:8px;
        }
    .sitename {
        font-family:Georgia, "Times new roman", Times, serif;
        font-weight:normal;
        font-size:13px;
        line-height:1.1;
        float:left;
        width:16ex;
        margin:0;
        color:#FFF;
        }
.header-contacts {
    position:absolute;
    left:12px;
    top:64px;
    width:180px;
    }
    .header-contacts .phone {
        font-family:Georgia, "Times new roman", Times, serif;
        font-weight:normal;
        font-size:24px;
        margin:0;
        }
    .header-contacts .phone a {
        text-decoration:none;
        color:#FFF;
        }
    .header-contacts .phone .code {
        font-size:12px;
        position:relative;
        left:-3px;
        bottom: 5px;
        }
    .header-contacts .address {
        font-size:11px;
        font-weight:normal;
        margin:8px 0 0 20px;
        }
.globalnav {

    }
.main {
    float:left;
    width:100%;
    margin-right:-240px;
    }
.wrapper {
    margin-right:280px;
    }

.promo {
    height:300px;
    background:url(../i/promo.jpg) top center no-repeat;
    position: relative;
    }
    .promo-text {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        width: 33%;
        padding: 16px;
        background: rgba(255, 255, 255, 0.8);
        }
.courses {
    }
.courses-departments {
    overflow:hidden;
    }
    .courses-departments .department {
        float:left;
        width:30%;
        margin-right:20px;
        }
    .department:nth-child(3n+1) {
        clear:left;
        }
.adv {
    float:right;
    width:240px;
    }
.popular-courses {
    overflow:hidden;
    }
    .popular-courses .course {
        float:left;
        width:20%;
        margin-right:20px;
        }

.partners {
    text-align: center;
    margin-top: 16px;
    border-top: solid 1px #666;
    }
    
footer {
    margin-top:20px;
    padding-top:10px;
    clear:both;
    overflow:hidden;
    background:url(../i/bg.jpg) top center no-repeat;
    border-top: solid 1px;
    }
    footer .copyright {
        float:left;
        }
        footer .copyright img {
            float: left;
            margin-right: 12px;
        }
    footer a {
        color: #FFF;
    }
    footer .contacts {
        float:right;
        }